




        <!-- content -->
        <a href="/lab?lab=lab1">
        <div class="col-sm-6 col-lg-4 card" >
            <img style="height:200px" class="card-img-top" src="/images/lab/powerlab.jpg?text=power lab" alt="Card image cap">
            <div class="card-body">
                <h4 class="mb-0">
                    <span class="">Lab 1</span>
                </h4>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
        </div>
        </a>

        <a href="/lab?lab=lab2">
            <div class="col-sm-6 col-lg-4 card" >
                <img style="height:200px" class="card-img-top" src="/images/lab/communicationlab.jpg?text=Communication Lab" alt="Card image cap">
                <div class="card-body">
                    <h4 class="mb-0">
                        <span class="">Lab 2</span>
                    </h4>
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
            </div>
        </a>
        <a href="/lab?lab=lab3">
            <div class="col-sm-6 col-lg-4 card">
                <img style="height:200px" class="card-img-top" src="/images/lab/electroniclab.jpg?text=Electronic Lab" alt="Card image cap">
                <div class="card-body">
                    <h4 class="mb-0">
                        <span class="">Lab 3</span>
                    </h4>
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                </div>
            </div>
        </a>

        <!-- content -->

    </div><!-- /#right-panel -->

    <!-- Right Panel -->
        <style>



        </style>

    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>

</body>

